@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.bg-custom-bg {
    background-color: #f3f4f6;
}

.text-custom-blue {
    color: #3b82f6;
}

.bg-custom-blue {
    background-color: #3b82f6;
}

/* Focus styles */
.focus\:ring-custom-blue:focus {
    --tw-ring-color: #3b82f6;
}

.focus\:border-custom-blue:focus {
    border-color: #3b82f6;
}

/* Hover styles */
.hover\:bg-blue-600:hover {
    background-color: #2563eb;
}
/* Switch container */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  /* Hide the default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* Slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  /* Dot inside the switch */
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  /* When checked, move the dot and change the background color */
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  